/* setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* nav style */
nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  width: 100%;
  height: 8rem;
  background-color: #000;
  z-index: 5;
  box-shadow: rgba(240, 219, 79, 0.4) 0px 5px, rgba(240, 219, 79, 0.3) 0px 10px,
    rgba(240, 219, 79, 0.2) 0px 15px, rgba(240, 219, 79, 0.1) 0px 20px,
    rgba(240, 219, 79, 0.05) 0px 25px;
}
.logo {
  width: 6rem;
  height: 6rem;
  animation: shake-animation 5s ease infinite;
  transform-origin: 50% 50%;
}
.logo > img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.title {
  font-family: "Padauk", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: #f0db4f;
  cursor: default;
}

/* main style */
main {
  padding: 15rem 5vw;
  width: 100vw;
  height: 100vh;
  background: #e4e0c3;
  overflow-y: auto;
}

.container {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  padding: 0 2rem;
  background: #f0db4f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.line > .number {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-right: 1rem;
  font-weight: bold;
}
.line > .name-project {
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.document {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50rem;
  background: #fff;
  padding-top: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.document .img {
  width: 60rem;
  height: 30rem;
  border: #f0db4f solid 5px;
  cursor: pointer;
  transition: transform 1s;
}
.document .img:hover {
  transform: scale(1.2);
  border: #000 solid 5px;
}

/* responsive */
@media screen and (max-width: 1024px) {
  .document .img {
    width: 50rem;
  }
}
@media screen and (max-width: 769px) {
  .document .img {
    width: 40rem;
    height: 25rem;
  }
}
@media screen and (max-width: 580px) {
  .document .img {
    width: 30rem;
    height: 20rem;
  }
  .title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 450px) {
  .document .img {
    width: 20rem;
    height: 10rem;
  }
}
