/* setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* preloader style */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: all 0.3s linear;
}
.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

/* header style */
header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
  height: 8rem;
  background-color: #000;
  z-index: 5;
  box-shadow: rgba(240, 219, 79, 0.4) 0px 5px, rgba(240, 219, 79, 0.3) 0px 10px,
    rgba(240, 219, 79, 0.2) 0px 15px, rgba(240, 219, 79, 0.1) 0px 20px,
    rgba(240, 219, 79, 0.05) 0px 25px;
}
.logo {
  width: 6rem;
  height: 6rem;
  animation: shake-animation 5s ease infinite;
  transform-origin: 50% 50%;
}
.logo > img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.title {
  font-family: "Padauk", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: #f0db4f;
  cursor: default;
}

/* hamburger menu style */
.hamburger-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.hamburger-menu .menu-line-burger {
  width: 3rem;
  height: 0.3rem;
  background-color: #f0db4f;
  transition: all 0.3s ease-in-out;
}
.menu-line-burger::before,
.menu-line-burger::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  background-color: #f0db4f;
  transition: all 0.3s ease-in-out;
}
.menu-line-burger::before {
  transform: translateY(-8px);
}
.menu-line-burger::after {
  transform: translateY(8px);
}
/* hamburger-menu open */
.hamburger-menu.open .menu-line-burger {
  background: transparent;
}
.hamburger-menu.open .menu-line-burger::before {
  transform: rotate(45deg);
}
.hamburger-menu.open .menu-line-burger::after {
  transform: rotate(-45deg);
}

.links-container {
  /* display: none; */
  position: fixed;
  right: 0;
  top: 8rem;
  padding-bottom: 2rem;
  visibility: hidden;
  opacity: 0;
  z-index: 6;
  height: 0;
  min-width: 40rem;
  border-bottom-left-radius: 8%;
  background-color: #000;
  transition: opacity 0.8s;
}
.links-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  list-style-type: none;
}
.links-container ul li .link-item {
  color: #f0db4f;
  font-size: 2.2rem;
  text-align: baseline;
  line-height: 48px;
  padding-left: 2.5rem;
}
.links-container ul li .link-item:hover {
  margin-left: 15px;
  transition: margin-left 0.5s ease-out;
}
.links-container.show-menu {
  /* display: block; */
  visibility: visible;
  opacity: 1;
  height: auto;
}

/* main style */
main {
  padding: 0 8rem 10rem;
  width: 100vw;
  height: auto;
  background: #e4e0c3;
  overflow-y: auto;
}

.container {
  width: 100%;
  height: auto;
  padding-top: 15rem;
}

.wrapper .container.pt {
  padding-top: 20rem !important;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  padding: 0 2rem;
  background: #f0db4f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.line > .number {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-right: 1rem;
  font-weight: bold;
}
.line > .name-project {
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.document {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50rem;
  background: #fff;
  padding-top: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.document .img {
  width: 60rem;
  height: 30rem;
  border: #f0db4f solid 5px;
  cursor: pointer;
  transition: transform 1s;
}
.document .img:hover {
  transform: scale(1.2);
  border: #000 solid 5px;
}

/* footer style */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 0;
  background-color: #000;
  width: 100%;
  height: auto;
}
footer .footer-text {
  color: #fff;
  font-size: 20px;
  font-family: "Padauk", sans-serif;
  margin-bottom: 2rem;
}

.footer-text.link {
  color: #f0db4f;
  text-decoration: underline #f0db4f;
}

.scroll-to-top {
  background: #f0db4f;
  text-transform: uppercase;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  border-radius: 5px;
  animation: bounce 2s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
}
.scroll-to-top:hover {
  background: #000;
  color: #f0db4f;
  border: 3px solid #f0db4f;
}

/* animation */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* responsive */
@media screen and (max-width: 1024px) {
  .document .img {
    width: 50rem;
  }
  .wrapper .container.pt {
    padding-top: 16rem !important;
  }
  .container {
    padding-top: 12rem;
  }
}
@media screen and (max-width: 769px) {
  .document .img {
    width: 40rem;
    height: 25rem;
  }
  footer .footer-text {
    font-size: 16px;
  }
  .scroll-to-top {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
  }
  .links-container {
    min-width: 40rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .container {
    padding-top: 10rem;
  }
}
@media screen and (max-width: 680px) {
  .document .img {
    width: 30rem;
    height: 20rem;
  }
  .title {
    font-size: 3rem;
  }
  footer .footer-text {
    font-size: 12px;
  }
  .scroll-to-top {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 550px) {
  main {
    padding: 0 0 10rem;
  }
}
@media screen and (max-width: 420px) {
  .document .img {
    width: 20rem;
    height: 10rem;
  }
  .links-container {
    min-width: 30rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .title {
    font-size: 2.5rem;
  }
  footer .footer-text {
    text-align: center;
    font-size: 12px;
    padding: 0 1rem;
  }
}
